* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
p {
  color: rgba(0, 0, 0, 0.6);
}
.navbar {
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 0px 5px 10px rgba(104, 104, 104, 0.04);
}
.navbar a {
  color: rgb(0, 0, 0) !important;
}
#jumbotron {
  display: flex;
  flex-direction: column;
}
#jumbotron h1 {
  font-weight: 400;
}
.hi {
  font-size: 2rem;
}
.as {
  font-weight: 200;
  font-size: 1.3rem;
  display: flex;
  align-items: stretch;
  padding: 0.25rem;
  color: rgb(0, 0, 0, 0.6);
}
#about {
  background-color: rgba(0, 0, 0, 0.02);
}
#about h1 {
  font-weight: 400;
}
.icon {
  width: 4rem;
}
.icon h5 {
  font-size: 1rem;

  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .row1 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 350px) {
  .icon {
    width: 3rem;
  }
  .icon h5 {
    font-size: 0.8rem;
  }
}
